/* Define the styles for those 2 div-s, so the outcome should be the flag of Roumania */
body *{
	margin:0;
	padding:0;
}
.red, .yellow{
	width:80px;
	height:200px;
	float:left;
}
.red{
  background:red;
}
.yellow{
  background:yellow;
  width:80px;
  border-right: 80px solid blue;
}
