.idea
.idea/**/*
/java/file-reader/.settings/**
/java/file-reader/.classpath
/java/file-reader/.classpath
/.idea
/.idea/workspace.xml
/.idea/workspace.xml
/java/ez-compress/HELP.md
/java/ez-compress/.classpath
/java/ez-compress/.project
/java/ez-compress/target
/.idea/vcs.xml
/.idea
/.idea/workspace.xml
