/***
 Editing only this file, create an imaginary Flag of Japan with a bull's eye instead of the red dot).
 You are not allowed to use Image in any form (neither file nor Inline data URI !!!) ***/
* {box-sizing: border-box;}
html {
    width: 100%;
    height: 100%;
    background: white;
    border: 3px solid black;
}

body {
    border: 50px solid aqua;
    border-radius: 50%;
    background-color: blue;

    display: block;
    font-family: monospace;
    font-size: 55px;
    line-height: 50px;
    width:300px;
    height:300px;
    margin-left:auto;
    margin-right: auto;
    margin-top:5%
}

body:after{
    content: '\25cf'; /*25cb*/
    color:fuchsia;
    background-color:purple;
    border: 10px solid green;
    border-radius: 50%;
    padding:0 44px;
    font-size: 150px;
}