/*Set the body's background to something else than the default white color*/
body{
	background: #ffffcc;
}
/*We fix the height and width of the container so that exactly 
8 squares will fit horizontally as well as vertically*/
#chess{
	width:400px; /*8*50*/
	height: 400px;
}
#chess div{
	width:50px;
	height:50px; /*1/8 of container width:force new line on floats exactly when needed.*/
	float:left;
}
#chess .white{
	background: white;
}
#chess .black{
	background: black;
}
#chess .selected{
	background: url(../img/sel.gif);
}
