/*** Some utility classes ***/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
/*Here comes the new MijnFamed overridings CSS.*/
/*** Mixins ***/
/*** Header ***/
/*Here comes the new Header's CSS.*/
body .wrapper .container header * {
  box-sizing: border-box;
}
body .wrapper .container header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body .wrapper .container header #header {
  float: left;
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}
body .wrapper .container header #header .logo {
  float: left;
  width: 205px;
  height: 100%;
}
body .wrapper .container header #header .famed-logo {
  width: 100%;
  height: 40px;
  margin: 30px 0 0 0;
  padding: 0;
  background: transparent url("famed-logo.png") no-repeat 0 0;
  background-size: 100%;
}
body .wrapper .container header #header .user-context {
  float: right;
  width: 60%;
  height: 100%;
}
body .wrapper .container header #header .user-context ul {
  font: 12px / 100% "Arial", sans-serif;
  color: #666;
}
body .wrapper .container header #header .user-context ul li {
  display: inline-block;
}
body .wrapper .container header #header .user-context ul li a {
  padding: 0;
  font: inherit;
  color: inherit;
}
body .wrapper .container header #header .user-context ul.user-actions {
  margin-top: 30px;
}
body .wrapper .container header #header .user-context ul.user-actions li {
  float: left;
  padding: 0px 4px;
  line-height: 16px;
  border-right: 1px solid #666;
}
body .wrapper .container header #header .user-context ul.user-actions li:first-child {
  padding-left: 0;
}
body .wrapper .container header #header .user-context ul.user-actions li:last-child {
  border-right: none;
}
body .wrapper .container header #header .user-context ul.user-actions li .logout {
	background: none;
}
body .wrapper .container header #header .user-context ul.user-actions #timeOfDay {
	margin-right: 10px;
}
body .wrapper .container header #menu {
  display: none;
}
/*** MainMenuSystem ***/
/*Here comes the new Menu system's CSS after becomes final.*/
#mainMenuSystemContainer {
	float: none;
	clear: both;
}
#mainMenuSystem {
  display: inline-block;
  height: 44px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0;
  line-height: 100%;
  background: #3368A1;
  color: #fff;
  border: none;
  position: relative;
  z-index: 999;
}
#mainMenuSystem:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] #mainMenuSystem {
  display: block;
}
* html #mainMenuSystem {
  height: 1%;
}
#mainMenuSystem li {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
#mainMenuSystem > li {
  border-top: 11px solid #3368A1;
  /**Hack the sensitive area: border is included! */
  border-bottom: 11px solid #3368A1;
}
#mainMenuSystem a {
  font: italic normal bold 18px "Arial", Helvetica, sans-serif;
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 0 15px;
  margin: 0;
}
#mainMenuSystem > li > a {
  border-right: 2px solid #fff;
}
#mainMenuSystem > li:last-child > a {
  border-right: none;
}
#mainMenuSystem li ul li a {
  margin: 0;
  padding: 10px 15px;
}
#mainMenuSystem ul li:hover a {
  background: none;
  border: none;
}
#mainMenuSystem li:hover li a {
  border-bottom: 1px solid #fff;
}
#mainMenuSystem li:hover li:last-child a {
  border-bottom: none;
}
#mainMenuSystem ul a {
  padding: 10px 0;
  color: #FFF !important;
  font-size: 12px;
}
#mainMenuSystem ul a:hover {
  background: #877b77 !important;
  color: #FFF !important;
}
#mainMenuSystem li:hover > ul {
  display: block;
}
#mainMenuSystem ul {
  display: none;
  position: absolute;
  width: 250px;
  top: 31px;
  left: 0;
  margin: 0;
  padding: 0;
  background: #3368A1;
}
#mainMenuSystem ul li {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  border-left: 0 solid #3368a1;
  border-right: 0 solid #3368a1;
}
#mainMenuSystem ul li.menu-item-heading {
  padding: 10px 0 10px 10px;
  color: #fff;
  background: #00a2de;
  font-weight: bold;
}
#mainMenuSystem ul li.menu-item-heading:first-child {
  padding-top: 5px;
}
/*** Footer ***/
.footer {
  position: relative;
  width: 1170px;
  margin: 20px auto 0 auto;
  padding: 8px 0 0 0;
  border-top: 25px solid #9CCBEF;
}
.footer * {
  box-sizing: border-box;
}
.footer #contactModal * {
  box-sizing: content-box;
}
.footer .site-banner {
  position: absolute;
  background: #3368A1 url("goed-geregeld-white.png") no-repeat 15% 60%;
  background-size: 40%;
  border-radius: 15px 15px 0 0;
  -ms-transform: skewX(-10deg);
  /* IE 9 */
  -webkit-transform: skewX(-10deg);
  /* Safari */
  transform: skewX(-10deg);
  text-align: right;
  padding-right: 0;
  top: -48px;
  right: 20px;
  width: 205px;
  height: 48px;
}
.footer .site-banner a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  margin-right: 16px;
  font-weight: bold;
}
.footer .container .contactinfo {
  float: left;
  list-style: none;
  margin: 0;
  width: calc(100% - 180px);
}
.footer .container .contactinfo .contact-pane {
  position: relative;
  font: 12px/22px "Arial";
  color: #333;
  float: left;
  width: 25%;
  /** Reserve visual space for email-link after rows.*/
}
.footer .container .contactinfo .contact-pane h2 {
  margin-bottom: 4px;
  color: #1e5897;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}
.footer .container .contactinfo .contact-pane a {
  color: inherit;
}
.footer .container .contactinfo .contact-pane .email {
  position: absolute;
  bottom: 0;
  margin-top: 5px;
}
.footer .container .contactinfo .contact-pane .email .writeEmail {
  color: #00a2de;
}
.footer .container .contactinfo .contact-pane .contact-row:last-child {
  margin-bottom: 25px;
}
.footer .container .certificering {
  float: right;
  width: 295px;
  margin-right: 0;
}
.footer .container .certificering ul {
  float: right;
  width: 100%;
  margin: 0;
}
.footer .container .certificering ul li {
  float: left;
}
.footer .container .certificering ul li.certificaat {
  width: 295px;
  height: 101px;
  background: url(certificaat.png) no-repeat 0 0;
}
/*** MijnFamed ***/
body {
  background: #fff;
}
body .wrapper {
  background: #fff;
}
body .wrapper .container #main {
  float: left;
  width: 100%;
}
body .wrapper .container #main .dashboard-panel .page-title {
  color: #1e5897;
  font: 12px/22px "Arial";
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
body .wrapper .container #main .dashboard-panel .pane-left .content {
  float: left;
  padding-top: 0;
}
body .wrapper .container #main .content .tabletools-container {
  padding: 0;
  margin: 0 0 10px 0;
}
body .wrapper .container #main .content .tabletools-container #tabletools .btn-group .btn {
  background: transparent;
  border: 1px solid #666;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 10px;
}
body .wrapper .container #main .content .tabletools-container #tabletools .btn-group .btn:last-child {
  margin-right: 0;
}
/*** Distancers ***/
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 5px;
}
.ml-2 {
  margin-left: 10px;
}
.ml-3 {
  margin-left: 15px;
}
.ml-4 {
  margin-left: 20px;
}
.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 5px;
}
.mr-2 {
  margin-right: 10px;
}
.mr-3 {
  margin-right: 15px;
}
.mr-4 {
  margin-right: 20px;
}
.mr-5 {
  margin-right: 25px;
}
.mr-6 {
  margin-right: 30px;
}
.mr-7 {
  margin-right: 35px;
}
.mr-8 {
  margin-right: 40px;
}
/*** Widths ***/
.w0 {
  width: 0;
}
.w1 {
  width: 10%;
}
.w2 {
  width: 20%;
}
.w3 {
  width: 30%;
}
.w4 {
  width: 40%;
}
.w5 {
  width: 50%;
}
.w6 {
  width: 60%;
}
.w7 {
  width: 70%;
}
.w8 {
  width: 80%;
}
.w9 {
  width: 90%;
}
.w10 {
  width: 100%;
}
/*** Well ***/
.well {
  background-color: transparent;
  border: 1px solid #999;
}
/*** Generic Table Styling ***/
.datatable-container .dataTable {
  /*** Child Table Styling ***/
}
.datatable-container .dataTable .open-child {
  color: #46babb;
  text-decoration: none;
}
.datatable-container .dataTable > thead th,
.datatable-container .dataTable > tbody > tr > td {
  min-height: 35px;
  border-top: 1px solid #999;
}
.datatable-container .dataTable > thead th.group,
.datatable-container .dataTable > tbody > tr > td.group {
  border-top: 2px solid #877b77;
}
.datatable-container .dataTable > thead th {
  font-weight: bold;
  border-top: none;
}
.datatable-container .dataTable > tbody > tr:nth-child(even) > td {
  background-color: #F0EFEF;
}
.datatable-container .dataTable > tbody > tr:nth-child(even) > td.details-row {
  background-color: inherit;
}
.datatable-container .dataTable > tbody > tr.table-section-title th {
  background-color: #9CCBEF;
  color: #1F1F1F;
  width: 100%;
}
.datatable-container .dataTable table.table-child {
  width: 100%;
  margin: 0;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-title {
  background-color: #9CCBEF;
  color: #1F1F1F;
  width: 100%;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-title:hover > th {
  background-color: #9CCBEF;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th {
  color: #877b77;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.questionable {
  color: red;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.treatment-code {
  width: 120px;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.amount {
  width: 120px;
  text-align: right !important;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.amount-longer {
  width: 140px;
  text-align: right !important;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.agb {
  width: 120px;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.debit-credit {
  width: 90px;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.datum {
  width: 120px;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.person-name {
  width: 220px;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.person-name-shorter {
  width: 180px;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.address {
  width: 170px;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.bsn {
  width: 10px;
}
.datatable-container .dataTable table.table-child thead tr.detail-table-colhead th.genre {
  width: 60px;
}
.datatable-container .dataTable table.table-child tbody.use-alternate-color-reverse tr:nth-child(odd) td {
  background-color: #F0EFEF;
}
.datatable-container .dataTable table.table-child tbody tr.section-head-row td.person-name {
  width: 255px;
}
.datatable-container .dataTable table.table-child tbody tr.section-head-row td.person-name-shorter {
  width: 180px;
}
.datatable-container .dataTable table.table-child tbody tr.section-head-row td.address {
  width: 170px;
}
.datatable-container .dataTable table.table-child tbody tr.section-head-row td.datum {
  width: 95px;
}
.datatable-container .dataTable table.table-child tbody tr.section-head-row td.bsn {
  width: 112px;
}
.datatable-container .dataTable table.table-child tbody tr.section-head-row td.genre {
  width: 65px;
}
.datatable-container .dataTable table.table-child tbody tr.section-head-row td.debtor-name {
  width: 155px;
}
.datatable-container .dataTable table.table-child tbody tr.section-head-row td.check-box {
  width: 30px;
}
.datatable-container .dataTable table.table-child tbody tr.section-head-row td.part-nota {
  width: 80px;
}
.datatable-container .dataTable table.table-child tbody tr.section-head-row td.vecozo-id {
  width: 82px;
}
.datatable-container .datatable-top-controls .process-view-filter {
  float: left;
}
.datatable-container .datatable-top-controls .process-view-filter #processed-filter {
  border: 1px solid #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.datatable-container .datatable-top-controls .process-view-filter #processed-filter .btn {
  box-sizing: border-box;
  padding: 1px 10px;
  background: transparent;
  border: none;
  border-right: 1px solid #666;
}
.datatable-container .datatable-top-controls .process-view-filter #processed-filter .btn:last-child {
  border-right: none;
}
.datatable-container .datatable-top-controls .process-view-filter #processed-filter .btn.active {
  background: #9CCBEF;
  color: #1F1F1F;
}
.datatable-container .datatable-top-controls .datatable-search-filter {
  float: right;
}
.datatable-container .datatable-top-controls .datatable-search-filter .dataTables_length {
  float: left;
  margin-right: 10px;
}
.datatable-container .datatable-top-controls .datatable-search-filter .dataTables_length label select {
  height: 24px;
  line-height: 24px;
  padding: 0 4px;
  border: 1px solid #666;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.datatable-container .datatable-top-controls .datatable-search-filter .dataTables_filter {
  float: right;
}
.datatable-container .datatable-top-controls .datatable-search-filter .dataTables_filter input {
  height: 23px;
  line-height: 25px;
  padding: 0 4px;
  border: 1px solid #666;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.datatable-container .datatable-top-controls .datatable-search-filter .dataTables_filter input input::-webkit-input-placeholder {
  color: #333;
}
.datatable-container .datatable-top-controls .datatable-search-filter .dataTables_filter input input:-moz-placeholder {
  color: #333;
}
.datatable-container .datatable-top-controls .datatable-search-filter .dataTables_filter input input:-ms-input-placeholder {
  color: #333;
}
.datatable-container .datatable-top-controls .datatable-search-filter .dataTables_filter input textarea::-webkit-input-placeholder {
  color: #333;
}
.datatable-container .datatable-top-controls .datatable-search-filter .dataTables_filter input textarea:-moz-placeholder {
  color: #333;
}
.datatable-container .datatable-top-controls .datatable-search-filter .dataTables_filter input textarea:-ms-input-placeholder {
  color: #333;
}
.datatable-container .datatable-bottom-controls .dataTables_paginate ul li:first-child a {
  margin-left: 0;
}
.datatable-container .datatable-bottom-controls .dataTables_paginate ul a {
  box-sizing: border-box;
  padding: 1px 8px;
  color: #1f1f1f;
  margin-left: 10px;
  border: 1px solid #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.datatable-container .datatable-bottom-controls .dataTables_paginate ul li.active a {
  background: #9CCBEF;
  color: #1F1F1F;
  font-weight: bold;
  border-color: #666;
}
.datatable-container .datatable-bottom-controls .dataTables_paginate ul li.disabled a {
  color: #bbb;
  background-color: #fff;
  cursor: no-drop;
}
/*** Buttons ****/
.fmd-btn {
  display: inline-block;
  padding: 1px 12px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transform: skew(-10deg, 0);
  -moz-transform: skew(-10deg, 0);
  -ms-transform: skew(-10deg, 0);
  -o-transform: skew(-10deg, 0);
}
.fmd-btn.fmd-btn-primary {
  background-color: #005197;
  padding: 2px 12px;
  color: #fff;
}
.fmd-btn.fmd-btn-secondary {
  background-color: #fff;
  color: #1f1f1f;
  border: 1px solid #666;
}
.fmd-btn.btn-mini {
  padding: 2px 6px;
}
.fmd-btn[disabled],
.fmd-btn.disabled {
  color: #bbb;
  background-color: #fff;
  border: 1px solid #666;
  cursor: no-drop;
}
a[disabled],
a.disabled {
  color: #bbb;
  background-color: #fff;
  cursor: no-drop;
}
.btn-group > .fmd-btn {
  margin-right: 15px;
}
.btn-group > .fmd-btn:last-child {
  margin-right: 0;
}
.btn-group.compact {
  margin: 0;
}

/*** Special styling for Uw Gegevens subscreens ***/
#udF\:u2FA {
	width: 100%;
}