/*** Method A: Using Flexbox***/
.wrapper-flexbox {
    display: flex;
    border: 1px solid red;
    padding: 10px;
}

.wrapper-flexbox .inner {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.wrapper-flexbox.is-open .inner {
    max-height: 100%;
}

/*** Method B: Using CSS grids***/
.wrapper-cssgrid {
    border: 1px solid green;
    padding: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.wrapper-cssgrid.is-open {
    grid-template-rows: 1fr;
}

.wrapper-cssgrid .inner {
    overflow: hidden;
}
