/**https://www.html-code-generator.com/demo/css/speech-bubble*/
/**Generic Colors*/
:root {
    --clr-deep-blue: #2A5270;
    --clr-light-blue:#41b6e6;
}
/** An explanation belonging to a tooltipped (a.k.a: "tipped") table cell */
.tipped-explanation {
    display: none;
}
/** Shared singleton ToolTip styling **/
#tip {
    position: absolute;
    top:0;
    left:0;
    display:none; /*When showing from JS=> switch to: display: flex*/
    max-width: 400px; /*ToolTip should not grow wider than this...*/
    border-radius: .5rem;
    background-color: var(--clr-deep-blue);
    color: white;
    padding: 0;
}
/**Tooltip's Down Arrow*/
#tip:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 12px 0;
    border-color: var(--clr-deep-blue) transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 0);
}
/**Title of the tooltip*/
#tip > table {
    border-collapse: collapse;
    border-spacing: 0;
}
#tip > table > caption {
    border-radius: .5rem .5rem 0 0;
    padding: .5rem;
    color: #fff;
    font-weight: bold;
    background: var(--clr-light-blue);
}
#tip > table td {
    padding: .5rem;
    border-bottom: 1px solid #fff;
}
#tip > table td:nth-child(1) {
    width: 120px;
}
#tip > table tr:last-child td {
    border-bottom: none;
}

/**Demo Table styling*/
.tbl {
    position:relative;
    top:200px;
    border: 1px solid black;
    margin: 0 auto;
}
.tbl td {
    padding: .5rem;
}
.tbl .tipped {
    padding:.25rem;
    border: 1px solid #bbb;
    border-radius: .5rem;
    background-color:#dfdfdf;
    cursor: pointer;
}
