/*** Generic (context) styling***/
html, body {width: 100%; height: 100%; border: 0 none;}
body * {box-sizing: border-box;}
/*** TreeView styles***/
.tree-container {
    border: 1px solid red; /*for debugging*/
    width: 80%;
    max-height: 400px;
    overflow: auto;
    margin-left: 10%;
}
.tree-view {}
.tree-view,  .tree-view div.children { /*Reset default styling*/
    list-style: none;
    margin: 0;
    padding: 0;
}
.tree-view div.node {
    margin: 0;
    padding: 0 0 0 25px; /*level indent*/
}
.tree-view > div.node {padding-left: 0} /*Don't indent Root level*/
/*** Node Elements***/
.tree-view .node-elements {
    display: flex; /* Use flexbox layout */
    justify-content: flex-start; /* Align children horizontally to the start (left) */
    align-items: flex-start; /* Align children vertically to the start (top) */    height: 22px;
    gap: 3px; /* Add horizontal spacing between the children */
    background-color: transparent; /**/
}
/*** Expander***/
.tree-view .node-elements > .expander {
    display: inline-block;
    align-self: center; /* Vertically center expander only */
    width: 16px;
    height: 16px;
    background: transparent url("./images/chevron.svg") no-repeat 50% 0;
    cursor: pointer;
    transition: transform 0.6s;
    /*border: 1px dotted #ffb904;*/
    transform: rotate(0deg);
}
.tree-view .expanded > .node-elements > .expander {
    transform: rotate(90deg);
}
/*** Node Icon***/
.tree-view .node-elements > .node-icon {
    display: inline-block;
    width: 18px; /*enlarge if you wanna more horizontal space around the icon*/
    height: 22px;
    background: url("./images/folder.svg") no-repeat 50% 50%;
}
/*** Node Label***/
.tree-view .node-elements > .node-label {
    padding: 0 5px; /*make room around the text*/
    display: inline-block;
    height: 100%;
    line-height: 22px;
    cursor: pointer;
}
.tree-view .node-elements > .node-label:focus {
    background-color: lightskyblue;
}
/*** Node Buttons (container for action buttons)***/
.tree-view .node-elements > .node-buttons {
    display: flex;
    justify-content: flex-start; /* Align children horizontally to the start (left) */
    gap: 10px;
}
.tree-view .node-elements > .node-buttons > .action-button {
    display: inline-block;
    align-self: center; /* Vertically center expander only */
    margin:0;
    padding: 0;
    width:22px;
    height:22px;
    border:1px solid #444;
    border-radius: 5px;
    cursor: pointer;
    background-color: orange;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.tree-view .node-elements > .node-buttons > .action-button.edit-label {
    background-image: url("./images/action-edit.svg");
}
/*** Children: Animating on expand/collapse to non-fixed height: CSS Grid hack***/
.tree-view .node > .children {
    display: grid;
    transition: grid-template-rows 0.5s ease-out;
}
.tree-view .node > .children {grid-template-rows: 0fr;} /*collapsed*/
.tree-view .node.expanded > .children {grid-template-rows: 1fr;}
.tree-view .children-inner {overflow: hidden;}
