/*** Generic (context) styling***/
html, body {width: 100%; height: 100%; border: 0 none;}
body * {box-sizing: border-box;}
/*** TreeView styles***/
.tree-container {
    border: 1px solid red; /*for debugging*/
    width: 80%;
    margin-left: 10%;
}
.tree-view {}
.tree-view,  .tree-view div.children { /*Reset default styling*/
    list-style: none;
    margin: 0;
    padding: 0;
}
.tree-view div.node {
    margin: 0;
    padding: 0 0 0 20px;
    line-height: 1.5em;
    position: relative;
}
.tree-view > div.node {padding-left: 0} /*Don't indent Root level*/
.tree-view .node-label {
    padding: 5px 5px 5px 15px; /*make room for expander on the left-side*/
    cursor: pointer;
}
.tree-view .node-label:focus {
    background-color: lightskyblue;
}
.tree-view .expander::before {
    content: "\203A"; /* Single Right-Pointing Angle Quotation Mark */
    cursor: pointer;
    position: absolute;
    transition: transform 0.6s;
    /*border: 1px dotted #009688;*/
    font-weight: bold;
    display: inline-block;
    width: 10px;
    line-height: 22px;
    padding-left: 5px;
}
.tree-view .collapsed > .expander::before {
    transform: rotate(0deg);
}
.tree-view .expanded > .expander::before {
    transform: rotate(90deg);
}
/*** Animating Expand/collapse of non-fixed height: CSS Grid hack***/
.tree-view .node > .children {
    display: grid;
    transition: grid-template-rows 0.5s ease-out;
}
.tree-view .node.collapsed > .children {grid-template-rows: 0fr;}
.tree-view .node.expanded > .children {grid-template-rows: 1fr;}
.tree-view .children-inner {overflow: hidden;}
